.topStyle{
	position: fixed;
    z-index: 500;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 50px;
}
.ListStyle{
	position: absolute;
	top:50px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
}
